{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "exclude": ["transform-regenerator"]
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["transform-decorators-legacy", "react-hot-loader/babel"],
  "retainLines": true
}
